@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.pro-img{
    width:200px;
    height:200px
}

.pojects_detail {
    margin: 10px;
    width:200px;
    height:200px;
    transition:transform 200ms ease-in;
    padding: 5px;
}

.pojects_detail:hover{
      background-color: rgb(184, 5, 5);
      display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     /* text-decoration: none; */
     cursor: pointer;
     transform: scale(1.05);

}

 a{
    text-decoration: none;
   
}

.pojects_detail h3{

    font-size:23px;
    color: black;
    margin-bottom: 15px;
}

.pojects_detail p{

    font-size:18px;
    color:white;
}
