@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.ab-1{
    color: aliceblue;
}

.top-contant{
    position: absolute;
    top: 35px;
    left:755px;
    background-color:white;
    /* opacity: 0.5; */
    height : 240px;
    width: 430px;
    border-radius: 20px;
}

.top-contant h1{
    color: black;
    font-size:25px;
    padding:10px;
    text-align: center;
    margin-top: 12px;
}


.top-contant p{
    font-size: 18px;
    padding: 10px;
    color: rgb(153, 151, 40);
    text-align: center;
}

/* .cv{
    font-size: 20px;
    font-weight: 300px;
    color:rgb(46, 2, 96);
    background-color: rgb(149, 196, 239);
    border: none;
    border-radius: 5px; 
    padding:10px;  
    margin:10px;
}

.work{
    font-size: 20px;
    font-weight: 300px;
    color:rgb(46, 2, 96);
    background-color: rgb(149, 196, 239);
    border: none;
    border-radius: 5px;  
    padding:10px;  
    margin:10px;
}
.cv:hover,.work:hover {
    color:white;
    background-color:red;
} */



