/* Ensure small images are displayed properly */
img {
  max-width: 100%;
 border: 2px solid rgb(10, 102, 10);
 background-color: aliceblue;
 opacity:0.65 ;

}



.left-contant{
    width: 430px;
   
    height: 140px;
    position: absolute;
    top: 295px;
    left:755px;
    
}

